{% extends 'base.html.twig' %}

{% block sectiontitle %}Reformas{% endblock %}

{% block body %}
{{ parent() }}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Listado de reformas</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Inmueble</th>
                                    <th>Constructor</th>
                                    <th>Arquitecto</th>
                                    <th>Arquitecto técnico</th>
                                    <th>Fecha inicio</th>
                                    <th>Días de obra</th>
                                    <th>Demoras</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th>Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for remodeling in remodelings %}
                                <tr>
                                    <td>{{ remodeling.id }}</td>
                                    <td>{{ remodeling.type }}</td>
                                    <td>{{ remodeling.address }} ({{ remodeling.city }})</td>
                                    <td>{{ remodeling.builder.name }}</td>
                                    <td>{{ remodeling.architect.name }}</td>
                                    <td>{{ remodeling.technicalArchitect.name }}</td>
                                    <td>{{ remodeling.startDate|date("d/m/Y") }}</td>
                                    <td>{{ remodeling.constructionTime }}</td>
                                    <td>
                                    {% if remodeling.delays|length > 0 %}
                                        <ul class="list-unstyled">
                                            {% for delay in remodeling.delays %}
                                                <li class="border-bottom border-secondary py-1">
                                                    +{{ delay.days }} días <a href="{{ path('delay_show', { 'id': delay.id }) }}" class="btn btn-outline-info btn-sm mb-2" target="_blank"><i class="fa fa-eye"></i></a>
                                                    <textarea disabled>{{ delay.note }}</textarea>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('delay_create', { 'remodeling': remodeling.id }) }}" class="btn btn-primary"><i class="fa fa-file-text-o"></i> Nueva modificación</a>
                                    {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('remodeling_edit', { 'id': remodeling.id }) }}" class="btn btn-warning"><i class="fa fa-pencil"></i> Editar</a>
                                        <button type="button" data-route="{{ path('remodeling_delete', { 'id':remodeling.id }) }}" class="btn btn-danger removeRemodeling"><i class="fa fa-trash-o"></i> Eliminar</button>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('js/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('js/datatables/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('js/datatables-init.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.removeRemodeling').click(function() {
                if (confirm('¿Está seguro de eliminar esta reforma?')) {
                    $.ajax({
                        method: "POST",
                        url: $(this).data('route'),
                        success: function() {
                            location.reload();
                        },
                        error: function(data) {
                            alert(data.responseText);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}